:root{
    --main-color: linear-gradient(#ff0000, #CD3200 , #9B6432 , #FFAF4B , #FFC864);
}

@font-face {
  font-family: 'sunless-day';
  src: url('@/assets/fonts/Sunless day.otf');
}

.background-color-page{
    background: var(--main-color);
    opacity: 0.25;
}

.main-font-family{
    font-family: sunless-day;
}